common_models/
3d_maze/
bounding_wall_world/
height_maze/
ice_mountains/
large_mine_abandoned/
mili_tech/
small_maze/
exploration_complex/

reconstruction/bigben2/
reconstruction/eiffel_tower/
reconstruction/japanese_temple2/
reconstruction/bridge/

reconstruction/alexander_nevsky_cathedral/
reconstruction/at_tin_mosque/
reconstruction/japanese_temple/

reconstruction/louisiana_state_house/
reconstruction/san_adrian_thermal_powerplant/
reconstruction/khram_pokrova/
reconstruction/orthodox_church/

reconstruction/tomb_of_tu_duc/
reconstruction/stone_church/

reconstruction/mexico_city_cathedral/
