common_models/
3d_maze/
bounding_wall_world/
height_maze/
ice_mountains/
large_mine_abandoned/
mili_tech/
small_maze/
reconstruction/alexander_nevsky_cathedral/
reconstruction/bigben2/
reconstruction/eiffel_tower/
reconstruction/japanese_temple/
reconstruction/japanese_temple2/
reconstruction/louisiana_state_house/
reconstruction/san_adrian_thermal_powerplant/
reconstruction/tomb_of_tu_duc/
