<?xml version="1.0"?>
<model>
 <name>Transmission Line Tower</name>
 <version>1.0</version>
 <sdf version="1.6">model.sdf</sdf>

 <author>
   <name>Mason</name>
   <email>mason@kaist.ac.kr</email>
 </author>

 <description>
    3.8 8.19 20.1 meters in scale 100%
    https://skfb.ly/oozIK
 </description>
</model>
