<?xml version="1.0"?>

<model>
  <name>Competition rplidar</name>
  <version>1.0</version>
  <sdf>model.sdf</sdf>

  <author>
    <name>mason</name>
    <email>mason@kaist.ac.kr</email>
  </author>

  <description>
    rplidar: http://www.robotshop.com/en/rplidar-360-laser-scanner.html
  </description>
</model>

<!-- vim: set noet fenc= ff=unix sts=0 sw=2 ts=2 : -->
